body {
	font-family: helvetica;
	font-size: 22px;
	color: white;
	cursor: default;
	line-height: 1.3;

}

::selection {
	color: black;
}

html {
	background: black;
}

.content, .info-panel {
	padding: 30px;
	position: fixed;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
}

.title, .info-button, .info-close {
	width: 50%;
}

.info-button, .info-close {
	text-align: right;
}

.info-button p, .info-close p {
		cursor: pointer;
}


a {
	text-decoration: none;
	border-bottom: solid 1px white;
	cursor: pointer;
	color: white;
}

a:hover {
	border-bottom: none;
}


.info-panel {
	background: black;
	z-index: 100;
}

.hide {
	display: none;
}


.info-text {
	align-self: flex-end;
	width: 100%;
}

@media only screen and (max-width: 600px) {
	.info-text {
		align-self: flex-end;
		padding-bottom: 40px;
		width: 100%;
	}
}


.videoBg{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:-1;
}

@media (min-aspect-ratio: 16/9) {
      .videoBg{
        width: 100%;
        height: auto;
      }
 }

@media (max-aspect-ratio: 16/9) {
      .videoBg {
        width:100%;
        height: 100%;
        padding:0
      }

video{
  object-fit:cover
}
