body {
	font-family: helvetica;
	font-size: 15px;
	color: white;
	cursor: default;
	line-height: 1.5;
	overflow-x: hidden;
}

@media only screen and (min-width: 1400px) {
	body {
		font-size: 18px;
	}
}

@media only screen and (min-width: 1700px) {
	body {
		font-size: 20px;
	}
}


@media only screen and (min-width: 2000px) {
	body {
		font-size: 22px;
	}
}


::selection {

}

html {
	background: black;
}

.content, .info-panel {
	padding: 30px;
	position: fixed;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
}

.title, .info-button, .info-close {
	width: 50%;
	height: 50px;
}

.info-button, .info-close {
	text-align: right;
}

.info-button p, .info-close p {
		cursor: pointer;
}


a {
	text-decoration: none;
	border-bottom: solid 1px white;
	cursor: pointer;
	color: white;
}

a:hover {
	border-bottom: none;
}


.info-panel {
	background: black;
	z-index: 100;
}

.hide {
	display: none;
}


.info-text {
	height: 50%;
	margin: auto;
	align-self: center;
	width: auto;
	text-align: center;
}

.info-text p {
	width: 400px;
	display: inline-block
}


@media only screen and (max-width: 400px) {
	.info-text p {
		width: auto;
	}
}




/* Resume */

.nav {
	display: flex;
}

.title-2 {
	width: 25%;
}

.design-motion {
	width: 50%;
}

.showreel-folio {
	width: 25%;
	text-align: right;
}

.resume-content {
	with: 100%;
	margin-left: 25%;
	margin-top: 20vh;
	display: flex;
	flex-wrap: wrap;
}

th {
	text-align: left;
	padding-bottom: 15px;
}

.grey {
	color: grey;
}

.year {
	width: 100px;
}

table {
	display: flex;
		flex-basis: 50%;
		margin-bottom: 30px;
}

.resume-contact {
	order: 1;
}

@media only screen and (max-width: 1200px) {
	table {
		flex-basis: 100%;
	}
	.education {
		order: 1;
	}
	.resume-contact {
		padding-bottom: 80px;
	}
}

@media only screen and (max-width: 500px) {
	.resume-content {
		margin-left: 0;
		margin-top: 10vh;
	}
	.design-motion {
		display: none;
	}
	.title-2 {
		width: 50%;
	}
	.showreel-folio {
		width: 50%;
		text-align: right;
	}
}
