body {
	font-family: helvetica;
	font-size: 22px;
	color: white;
	cursor: default;
	line-height: 1.3;

}

::selection {
	color: black;
}

html {
	background: black;
}

.content, .info-panel {
	padding: 30px;
	position: fixed;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
}

.title, .info-button, .info-close {
	width: 50%;
}

.info-button, .info-close {
	text-align: right;
}

.info-button p, .info-close p {
		cursor: pointer;
}


a {
	text-decoration: underline;
	cursor: pointer;
	color: white;
}

a:hover {
	text-decoration: none;
}


.info-panel {
	background: black;
	z-index: 100;
}

.hide {
	display: none;
}


.info-text {
	align-self: flex-end;
	width: 100%;
}



.vimeo-wrapper {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   pointer-events: none;
   overflow: hidden;
}


@media only screen and (max-width: 600px) {
	.vimeo-wrapper iframe {
	   min-width: 100%;
		height: 100%;
	   position: absolute;
	   top: 50%;
	   left: 50%;
	   transform: translate(-50%, -50%);
	}
}


@media only screen and (min-width: 600px) {
	.vimeo-wrapper iframe {
	   width: 100vw;
	   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
	   min-height: 100vh;
	   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
	   position: absolute;
	   top: 50%;
	   left: 50%;
	   transform: translate(-50%, -50%);
	}
}
