

/* styling */

.skills {
  display: none;
}


p {
  font-family: 'aktiv-grotesk';
}

.home_btn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: min-content;
  font-size: 30px;
  color: black;
  z-index: 4;
}

.home_btn:hover {
  transform: translateX(-10px);
  transition: 0.2s;
}

.home_btn_bottom {
  font-size: 30px;
  width: min-content;
  margin: auto;
  margin-top: 40px;
  display: none;
}

.project_info {
  width: 500px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 50px;
}

.project_name {
  font-size: 20px;
  line-height: 100%;
  text-align: center;

}

.project_description {
  font-size: 15px;
  line-height: 130%;
  text-transform: none;
  text-align: center;
}

.images {
  width: 600px;
  margin: auto;
}

.images img {
  max-width: 100%;
  z-index: 3;
  margin-bottom: 30px;
  transition: 0.5s;
  cursor: url('../images/cursor_circle_white.png') 50 50, auto;
}

.caption {
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 0 50px 0 50px;
  font-size: 15px;
  line-height: 130%;
  text-align: center;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:0px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}


/* responsive */

@media screen and (max-width: 768px) {

  .project_info {
    width: 100%;
    margin-top: 100px;
    padding: 0 20px 0 20px;
  }

  .project_description {
  }

  .images {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .images img {
    margin-bottom: 20px;
  }

  .caption {
    padding: 0;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .next_btn {
    position: fixed;
    top: 25px;
    right: 20px;
    font-size: 20px;
  }


  .home_btn_bottom {
    display: block;
  }

  .info {
    right: 20px;
  }


}

@media screen and (min-width: 1800px) {

  .images {
    width: 800px;
  }



}
