.videoBg{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:-1;
}

@media (min-aspect-ratio: 16/9) {
      .videoBg{
        width: 100%;
        height: auto;
      }
 }

@media (max-aspect-ratio: 16/9) {
      .videoBg {
        width:100%;
        height: 100%;
        padding:0
      }

video{
  object-fit:cover
}
